*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --primary-color:#424874;
    --secondary-color:#a6b1e1;
    --txt-primary:#dcd6f7;
    --txt-secondary:#d1d4e4;
    --txt-dark:#424874;
    --txt-light:#a6b1e1;
    --padding-sm:0.5rem;
    --padding-md:1rem;
    --padding-lg:1.5rem;
}
body{
    width: 100vw;
    min-height: 100vh;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}
a{
    text-decoration: none;
    color: inherit;
}
p{
    line-height: 1.8rem;
}
.header{
    width: 100vw;
    padding: 1rem 1rem;
    position: sticky;
    top:0;
    z-index: 1;
    background: #f7f7f7;
    box-shadow: 0 3px 10px var(--txt-secondary);
}
.brand-link{
    color:var(--primary-color);
    font-size: 1.2rem;
}
.brand-name{
    display: inline-flex;
    align-items: center;
    width:max-content;
    cursor:pointer;
}
.brand-logo{
    width:3rem;
    margin-right: 0.5rem;
}
main{
    margin: auto 0;
    width: 75%;
    max-width: 30rem;
    text-align: center;
}
main > .brand-logo{
    width: 8rem;
}
.brand-tagline{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin:1rem 0;
    letter-spacing: 0.1rem;
}
.btn{
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}
.main{
    width: 100vw;
    display: flex;
}
.side-bar-navigation{
    position: fixed;
    min-width: max-content;
    /* width: 15%; */
    height: 100vh;
    top: 6rem;
}
.side-bar{
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    height: max-content;
    padding: var(--padding-md);
    z-index: 1;
}
ul{
    display: flex;
    flex-direction: column;
}

.component-item{
    color: var(--txt-dark);
    padding:var(--padding-sm);
    border-radius: 0.5rem;
    cursor: pointer;
    list-style: none;
}

.component-item:hover{
    background: var(--secondary-color);
    color: var(--txt-primary);
}
.docs__container{
    width: 100vw;
    padding-left: 20%;
    padding-top: 2.5rem;
}
.docs-para{
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
.code{
    background: var(--txt-light);
    color: var(--txt-dark);
    padding: 0.2rem;
    border-radius: 0.2rem;
    display: inline;
}
.code-snippet__container{
    width: 85%;
    overflow-x: auto;
}
.code-snippet__container > code{
    border-radius: 0.5rem;
}
.code-snippet{
    width: 90%; 
    height:max-content; 
    border:0; 
    /* transform: scale(1);  */
    /* overflow:hidden; */
}
@media only screen and (max-width: 600px) {
    .header{
        box-shadow: none;
    }
    .side-bar-navigation{
        height: max-content;
        top: 5rem;
        /* position: relative; */
    }
    .side-bar{
        flex-direction: row;
        width: 100vw;
        z-index: 1;
        height: max-content;
        overflow:auto;
        white-space: nowrap;
    }
    ul{
        flex-direction: row;
        margin-left: 1rem;
    }
    .docs__container{
        margin: 0;
        margin-top: 4.5rem;
        padding: var(--padding-sm) var(--padding-md);
    }
}
